{% extends "shared/layout.html" %}



{% block loading_content %}
    <form action="{% url 'newspostdelete' object.id %}" method="POST" id="delete-post" >
        {% csrf_token %}
        <fieldset>
            <legend>Delete News</legend>
            <h2>Are you sure you want to delete the post "{{ object.title }}"</h2>
        
            <div class="button">
                <button type="submit" class="btn btn-danger"> Yes, DELETE</button>
                <a href="{% url 'newspostdetail' object.id %}" class="btn btn-warning" id="cancel">cancel</a>
            </div>
        </fieldset>
    </form>
{% endblock loading_content %}