{% extends "shared/layout.html" %}

<!-- STATIC CSS -->
{% block extrastyle %} {% endblock extrastyle %}

<!-- NEWS POST UPLOAD SECTION -->
{% block loading_content %}
      <h1>
        {{ object.category }}
      </h1>
  
   
          <img src="{{ object.user.profile.image.url }}" alt=""style="border-radius: 50%; width:100px; height:auto;">
          
            <p class="card-text">
              <!-- <b><a href="">{{ object.user }}</a> -->
                </b><br>
                <b><i class="far fa-calendar-check"></i></b><small>{{ object.date_created | date:"F d, Y"}}</small>
  
          {% if request.user.is_authenticated %}
                {% if request.user.is_staff %}
                  {% if object.user == user %}
                
                  <a href="" class="btn btn-success"> 
                    Update 
                  </a>
      
                  <a href="{% url 'newspostdelete' object.slug object.id %}" class="btn btn-danger"> 
                    Delete
                  </a>
                  
                {% endif %}
                  
                {% endif %}
            
          {% endif %}
          
               
            </p>
  
            <div class="card-body">
              <h1 class="card-title">
                  <a href="" class="link">
                    {{ object.title | safe }}
                  </a>               
              </h1>
  
              
              <p class="card-text">
                {{ object.content | safe }}
              </p>
              
           
  
              
  
        
        </div>
      </li>
    </article>
  
  
  </ul>
  
  
{% endblock loading_content %}