{% extends "shared/layout.html" %}

<!-- STATIC CSS -->
{% block extrastyle %} {% endblock extrastyle %}

<!-- NEWS POST UPLOAD SECTION -->
{% block loading_content %}
<h2></h2>
<div class="container">
  <div class="wrapper">
    <div class="posts">
      <div class="title">
        <h2>
          <a href=""> {{post.title | safe }} </a>
        </h2>
      </div>
      <div class="date">
        <small> {{post.date_created}} </small>
      </div>
      <div class="content">
        <h2>{{post.content | safe }}</h2>
      </div>
    </div>
    <h2>
      Similar Posts by Tags
    </h2>
    <ul>
      {% for x in similar_posts_by_tag  %}
        <li>
          <a href="{{x.get_absolute_url}}">{{x.title}}</a> 
        </li>
        {% empty %}
        There are no similar posts by tag
      {% endfor %}
    </ul>
    <h2>
      Similar Posts For the last 7 days
    </h2>
    <ul>
      {% for x in similar_posts %}
        <li>
          {{x.title}}
        </li>
      {% endfor %}
    </ul>

    <h2>
      Recently Viewed
    </h2>
    <ul>
      {% for x in recently_view_news_sorting %}
        <p>          
          <a href="{% url 'newspostdetail' slug=x.slug %}">{{x.title}}</a>
        </p>
        {% empty %}
        No recently view Articles now
      {% endfor %}
    </ul>
    {% endblock loading_content %}

    <!-- STATIC JS -->
    {% block scripts %} {% endblock scripts %}
  </div>
</div>
